
.meio > .categoria > p{
    color: var(--fonte1);
    padding: 0px 5%;

    font-size: 16pt;
    text-align: justify;
}



.banner{
    margin: 3% auto;
    text-align: center;
}

.banner > p{
    font-size: 10pt;
    color: var(--fonte1);
}

.banner > img{
    width: 65vh;
}


#textLogo2{
    color: #204466;
    
    -webkit-text-stroke: 3px var(--tema);

    text-align: center;
    font-family: Arial;
    font-weight: 800;
    font-size: 46pt;
}