
.meio > .categoria > p{
    color: white;
    padding: 0px 5%;

    font-size: 16pt;
    text-align: justify;
}



.banner{
    margin: 3% auto;
    text-align: center;
}

.banner > p{
    font-size: 10pt;
    color: white;
}

.banner > img{
    width: 65vh;
}


#textLogo2{

    color: #485465;
    
    -webkit-text-stroke: 3px #00F0FF;

    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 46pt;
}