#primeiro{
    display: flex;
    
    padding: 0% 5%;
    justify-content: space-between;
}

#ademir{
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom:5px ;
    
    color: var(--fonte1);
    text-decoration: underline;
    text-align: center;
}



.categoria > .jogos > .card > .nome-jogo{
    margin: 2%;
    font-weight: 600;
}
