
.categoria > .jogos {
    display: flex;
    justify-content: space-around;
}

.categoria {
    width: 80%;
    background-color:    var(--backGroundContainer);
    padding: 2%;
}

.categoria > .jogos > .card-jogo{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    height: 55vh;
}

.categoria > .jogos > .card-jogo > .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    background-color: var(--cardColor);
}

.categoria > .titulo {
    margin-top: 10px;
    margin-bottom:5px ;
    font-weight: bold;
    font-size: 26px;
    margin-left: 30px;
    color: var(--fonte1);
}

.categoria > .jogos > .card-jogo > .nome-jogo{
    margin: 2%;
    font-weight: 600;
    color: var(--fonte1);
}
